{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}

    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>


<body>

    <header>
    {% block header %}
    <div id="logo">
        <h1>Mobilenvi</h1>
        <h2>Creative solutions</h2>
    </div>
    <div id="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">API</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>
    {% endblock header %}
    </header>

    {% block body %}
    {% endblock body %}

    <footer>
        {% block footer %}
        <p>All rights reserved &copy; 2019</p>
        {% endblock footer %}
    </footer>

</body>


</html>