{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}

    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>


<body>
    <header>
    <div id="logo">
        <h1>Mobilenvi</h1>
        <h2>Creative solutions</h2>
    </div>
    <div id="nav">
        <ul>
        </ul>
    </div>
    </header>

    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        All rights reserved &copy; 2019
    </footer>

</body>

</html>